.addItemPopup {
  width: 20%;
  min-width: 250px;
  border: 2px solid black;
  form {
    padding: 0.5rem;
    div {
      padding: 0.5rem;
      width: 100%;
      label,
      input,
      select {
        display: inline-block;
        width: 50%;
        padding: 6px;
      }
    }
  }
  .buttons {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    button {
      padding: 6px;
      cursor: pointer;
    }
  }
}
