// Import Styles

@import "./components/layout.less";

// Main Styles

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body, #root {
    width: 100%;
    min-width: 500px;
    height: 100%;
}
